<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="HoteloDBEntities" connectionString="metadata=res://*/EF_HotelDB.csdl|res://*/EF_HotelDB.ssdl|res://*/EF_HotelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-FEBN0K9O\MSSQLSERVER02;initial catalog=HoteloDB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>